/** ---------------------------- Breakpoints ---------------------------- 

Abbreviations:

ls - landscape
sm - small
md - medium
lg - large

*/

$mobile: 320px;
$mobile-ls: 480px;
$tablet: 768px;
$tablet-ls: 960px;
$notebook: 1024px; 
$desktop: 1280px;
$desktop-md: 1440px;
$desktop-lg: 1680px;
$full: 1920px;



