@import '../../styles/global.scss';

header{
    background: $red;
    width: 100%;
    position: fixed;
    z-index:2;
}

header .container{    
    margin: auto;
    width: 100%;
    height: 60px;
    max-width: $desktop;
    display: flex;    
    justify-content: space-between;
    padding: 10px 20px;
    @media(min-width: $notebook){
        height: 80px;
        align-items: center;
    }
}

header .social-media{
    display: none;
    @media(min-width: $notebook){
        display: initial;
    }
}

/**-------------------Whitespace-----------------*/

.whitespace{
    height: 60px;
    @media(min-width: $notebook){
        height: 80px;
    }
}